.actions {
  background-color: $basic_orange;
}

.actions__wrapper {
  width: 1260px;
  margin: 0 auto;
  padding: 0 10px;
}

.actions__list {
  list-style: none;
  padding: 0;
}

.actions__tagline,
.actions__text {
  color: $basic_white;
}

.actions__tagline {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 20px;
  line-height: 22px;
}
