.actions {
  background-color: $basic_orange;

  margin-bottom: 79px;
}

.actions__wrapper {
  width: 1260px;
  margin: 0 auto;
  padding: 0 10px;
}

.actions__container {
  padding-top: 90px;

  background-image: url("../img/mockups/phone-product-decoration@1x.png");

  @supports (background-image: url("../img/mockups/phone-product-decoration@1x.webp")) {
    background-image: url("../img/mockups/phone-product-decoration@1x.webp");
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/mockups/phone-product-decoration@2x.png");

    @supports (background-image: url("../img/mockups/phone-product-decoration@2x.webp")) {
      background-image: url("../img/mockups/phone-product-decoration@2x.webp");
    }
  }

  background-repeat: no-repeat;
  background-position: 733px 78px;
  background-size: auto;

  padding-bottom: 103px;
}

.actions__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 87px;
  // margin-bottom: 0;
}

.actions__item {
  max-width: 385px;
  position: relative;
  padding-left: 174px;
  margin-bottom: 44px;

  &::before {
    content: "";
    background-color: $basic_white;
    position: absolute;
    border-radius: 50%;
    top: 39px;
    left: 29px;
    width: 109px;
    height: 109px;
  }
}

.actions__item--user,
.actions__item--download,
.actions__item--enjoy {
  &::after {
    content: "";
    position: absolute;
    top: 75px;
    left: 64px;
    width: 38px;
    height: 38px;
  }
}

.actions__item--user {
  &::after {
    background-image: url("../img/icons/icon-user.svg");
  }
}

.actions__item--download {
  &::after {
    background-image: url("../img/icons/icon-download.svg");
  }
}

.actions__item--enjoy {
  &::after {
    background-image: url("../img/icons/icon-enjoy.svg");
  }
}

.actions__tagline {
  padding-top: 23px;
  padding-left: 29px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 63px;
    height: 2px;
    top: 69px;
    left: 31px;
    background-color: $basic_white;
    border: none;
  }
}

.actions__tagline,
.actions__subtagline,
.actions__text {
  color: $basic_white;
  max-width: 600px;
}

.actions__subtagline {
  font-family: $tagline_font_family;
  font-size: 20px;
  line-height: 22px;
  padding-top: 38px;
  margin: 0;
}

.actions__item:nth-child(2) {
  margin-bottom: 53px;
}

.actions__item:nth-child(2) .actions__subtagline {
  padding-top: 30px;
}

.actions__text {
  margin: 0;
  padding-top: 13px;
}
