.benefits {
  text-align: center;
  padding-top: 15px;
}

.benefits__wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
}

.benefits__background {
  padding-top: 13px;
  background-image: url("../img/decoration/grey-background.svg");

  background-repeat: no-repeat;
  background-size: 120% auto;
  background-position: 50% -50px;
}

.benefits__list {
  list-style: none;
  padding: 0;
  padding-top: 12px;
  margin: 0;

  padding-bottom: 334px;

  background-image: url("../img/decoration/iphone 3.png");

  @supports (background-image: url("../img/decoration/iphone 3.webp")) {
    background-image: url("../img/decoration/iphone 3.webp");
  }

  background-repeat: no-repeat;
  background-position: 50% 110%;
  text-align: center;
  background-size: 56% auto;
}

.benefits__item {
  margin-top: 0;
  margin-bottom: -30px;
}

.benefits__tagline {
  font-size: $tagline_font-size;
  line-height: $tagline_line-height-index;
  font-weight: $light;
}

.benefits__subtitle {
  font-size: 18px;
  font-weight: $bold;
  color: $basic_black;
  list-style: none;
  padding-top: 43px;
}

.benefits__image-container {
  order: -1;
  max-height: 260px;
  overflow: hidden;
  display: block;
}

.benefits__description {
  margin-top: -6px;
}

@media (min-width: $tablet-width) {
  .benefits {
    margin-top: 12px;
  }

  .benefits__background {
    background-size: 100% auto;
    background-position: 50% -68px;
    padding-top: 2px;
  }

  .benefits__wrapper {
    width: 620px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .benefits__list {
    padding-left: 50%;
    background-image: url("../img/decoration/iphone 3.png");

    @supports (background-image: url("../img/decoration/iphone 3.webp")) {
      background-image: url("../img/decoration/iphone 3.webp");
    }

    background-position: 0 29px;
    background-size: auto;
    padding-bottom: 82px;

    text-align: left;
  }

  .benefits__item {
    min-width: 307px;
    margin-bottom: -53px;
  }

  .benefits .tagline {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 54px;
  }

  .benefits__subtitle {
    padding-top: 69px;
  }

  .benefits__description {
    margin-top: -6px;
  }
}

@media (min-width: $desktop-width) {
  .benefits {
    margin-top: 28px;
  }

  .benefits__wrapper {
    width: 940px;
  }

  .benefits__background {
    padding-top: 44px;
    background-image: url("../img/decoration/grey-background-top-desktop.svg");
    background-position: 50% 50px;
  }

  .benefits .tagline {
    padding-left: 96px;
    padding-right: 97px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    line-height: 68px;
  }

  .benefits__subtitle {
    font-size: 30px;
    line-height: 30px;
    margin-top: 0;
    margin-left: 35px;
    margin-right: 35px;
    padding-top: 56px;
  }

  .benefits__list {
    padding-left: 0;
    padding-right: 0;

    text-align: center;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    background: none;
  }

  .benefits__description {
    font-size: 18px;
    line-height: 30px;
    margin-left: 28px;
    margin-right: 28px;
  }

  .benefits__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .benefits__image-container {
    max-height: 301px;
  }
}

@media (max-width: $desktop-width - 1) {
  .benefits__image-container {
    display: none;
  }
}
