.contacts {
  text-align: center;
  padding-top: 18px;
}

.contacts__subtitle {
  font-size: 24px;
  line-height: 28px;
  font-weight: $light;
}

.contacts__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.contacts__item {
  padding: 0;
  margin: 35px 0 -14px;
}

.contacts__text {
  font-size: 18px;
  line-height: $basic_line-height;
  font-weight: $bold;
  padding: 0;
  margin: 0;
}

.contacts__value {
  font-size: 24px;
  line-height: 32px;
  font-weight: $light;
  color: $accent_red;

  text-decoration: none;

  margin-top: 0;
  margin-bottom: 0;
}

.contacts__value--email:hover {
  text-decoration: underline;
  color: $dark_grey;
}

.contacts__value--email:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-top: 4px;
  }

  .contacts__list {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
  }

  .contacts__item {
    width: 241px;
    margin-bottom: 7px;
  }

  .contacts .tagline {
    line-height: 54px;
    margin-bottom: 0;
  }

  .contacts__text {
    margin-bottom: 5px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding-top: 19px;
  }

  .contacts__list {
    display: flex;
    justify-content: space-between;
  }

  .contacts__item {
    margin: 44px 0 18px;
    margin-left: 29px;
    margin-right: 29px;
  }

  .contacts .tagline {
    line-height: 65px;
  }

  .contacts__item--phone {
    order: -1;
  }

  .contacts__item--email {
    order: 2;
  }

  .contacts__item--address {
    order: 1;
  }

  .contacts__text {
    margin-bottom: 22px;
  }
}
