.copyright {
  display: flex;
  justify-content: center;
}

.copyright__text {
  font-size: $basic_font-size;
  line-height: 18px;
  text-align: center;
  padding-right: 12px;
}

.copyright__link {
  vertical-align: middle;
}

@media (min-width: $desktop-width) {
  .copyright__text {
    font-size: 18px;
    margin-bottom: 29px;
    padding-right: 9px;
  }
}
