.intro {
  margin-bottom: 84px;
}

.intro__wrapper {
  width: 1260px;
  margin: 0 auto;
  padding: 0 10px;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.intro__photo-container {
  max-width: 560px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-left: 31px;
}

.intro__photo {
  padding: 0;
  margin-right: 20px;
  margin-bottom: 11px;
}

.intro__photo:nth-child(2) {
  align-self: flex-end;
}

.intro__text-container {
  margin-top: 43px;
  max-width: 600px;
  padding-right: 31px;
}

.intro__tagline {
  margin-bottom: 43px;
}

.intro__lead {
  font-weight: $bold;
  margin-top: 0;
  margin-bottom: 9px;
}

.intro__text {
  color: $text_grey;
  margin-top: 0;
  padding-right: 3px;
}
