.main-nav {
  color: $basic_white;
  line-height: 19px;
  font-weight: $bold;

  padding-top: 55px;
  margin-bottom: 62px;
}

.main-nav__wrapper {
  display: flex;
  justify-content: space-between;

  width: 1260px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-nav__list {
  align-self: center;
}
