.main-nav {
  color: $basic_white;
  line-height: 19px;
  font-weight: $bold;

  margin-top: 55px;
  margin-bottom: 64px;
}

.main-nav__wrapper {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  align-items: center;

  width: 1260px;
  margin: 0 auto;
  padding: 0 10px;
}
