.main-nav {
  width: 100%;
  min-height: 66px;
  background-color: $opacity_black;
  margin-bottom: -66px;
  position: relative;
}

.main-nav__wrapper {
  width: 100%;
  margin: 0 auto;
}

.main-nav__header {
  position: relative;
  margin: 0 auto;
  width: 320px;
}

.main-nav__toggle {
  display: block;
  background: transparent;
  border: none;
  position: absolute;
  right: 20px;
  top: 21px;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  z-index: 10;
  width: 50px;
  height: 24px;
  padding: 0;
}

.main-nav__menu-icon {
  fill: $basic_white;
  display: none;
}

.main-nav__toggle:hover .main-nav__menu-icon {
  fill: $accent_red;
}

.main-nav__toggle:active .main-nav__menu-icon {
  fill: $accent_red;
  opacity: 0.3;
}

.main-nav__menu-icon--close {
  transform: translate(27px, 2px);
}

.main-nav__list-wrapper {
  width: 100%;
  z-index: 5;
  left: 0;
}

.main-nav__list {
  display: none;
}

.main-nav__display-on {
  padding: 0;
  margin: 0;
  display: block;
}

.main-nav__display-off {
  display: none;
}

.main-nav__item {
  list-style: none;
  box-shadow:
    0 1px 0 $basic_black,
    inset 0 1px 0 $shadow_white;

  background-color: $dark_grey;
  text-align: center;
}

.main-nav__item--first {
  height: 69px;
}

.main-nav__link {
  display: block;

  text-decoration: none;
  text-transform: uppercase;
  color: $basic_white;
  font-size: 18px;
  line-height: 32px;
  font-weight: $bold;

  padding-top: 16px;
  padding-bottom: 16px;
}

.main-nav__item:hover .main-nav__link {
  color: $accent_red;
}

.main-nav__item:active .main-nav__link {
  color: $accent_red;
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .main-nav {
    min-height: 110px;
    margin: 0;
    margin-bottom: -110px;
  }

  .main-nav__header {
    width: 620px;
  }

  .main-nav__toggle {
    top: 43px;
    right: 0;
  }

  .main-nav__list {
    min-width: 620px;
  }

  .main-nav__item--first {
    min-height: 110px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    position: relative;
    min-height: 93px;
    padding-top: 12px;
  }

  .main-nav__wrapper {
    width: 940px;
  }

  .main-nav__header {
    width: 940px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__display-off {
    display: block;
  }

  .main-nav__list {
    width: 940px;
    padding: 14px 0;
    margin: 0 auto;

    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  .main-nav__item {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    margin-left: 79px;
    margin-right: 0;
  }

  .main-nav__item--first {
    min-height: 0;
  }

  .main-nav__link {
    font-size: 18px;
    line-height: 18px;
    font-weight: $regular;
    text-transform: none;
    position: relative;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .main-nav__item:active .main-nav__link {
    color: $basic_white;
  }

  .main-nav__item--current .main-nav__link::after {
    content: "";
    position: absolute;
    height: 2px;
    top: 48px;
    left: 0;
    right: 0;
    background-color: $basic_white;
  }
}
