.map {
  position: relative;
  margin-top: 50px;
  z-index: -1;
}

.map__svg,
.map__svg--desktop {
  position: absolute;
  width: 100%;
  height: 200px;
  z-index: 100;
  top: -85px;
}

.map__svg--desktop {
  display: none;
}

.map__frame {
  width: 100%;
  height: 200px;
  border: none;
  background-image: url("../img/map/map-mobile.jpg");

  @supports (background-image: url("../img/map/map-mobile.webp")) {
    background-image: url("../img/map/map-mobile.webp");
  }

  background-repeat: no-repeat;
  background-position: center;
  z-index: 100;
}

@media (min-resolution: 2dppx) {
  .map__frame {
    background-image: url("../img/map/map-mobile@2x.jpg");

    @supports (background-image: url("../img/map/map-mobile@2x.webp")) {
      background-image: url("../img/map/map-mobile@2x.webp");
    }
  }
}

@media (max-width: 319px) {
  .map__svg {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .map {
    margin-top: 18px;
  }

  .map__frame {
    height: 374px;
    background-image: url("../img/map/map-tablet.jpg");

    @supports (background-image: url("../img/map/map-tablet.webp")) {
      background-image: url("../img/map/map-tablet.webp");
    }
  }

  @media (min-resolution: 2dppx) {
    .map__frame {
      background-image: url("../img/map/map-tablet@2x.jpg");

      @supports (background-image: url("../img/map/map-tablet@2x.webp")) {
        background-image: url("../img/map/map-tablet@2x.webp");
      }
    }
  }

  .map__svg {
    top: -67px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    margin-top: 0;
    margin-bottom: 0;
  }

  .map__frame {
    height: 496px;
    background-image: url("../img/map/map-desktop.jpg");

    @supports (background-image: url("../img/map/map-desktop.webp")) {
      background-image: url("../img/map/map-desktop.webp");
    }
  }

  @media (min-resolution: 2dppx) {
    .map__frame {
      background-image: url("../img/map/map-desktop@2x.jpg");

      @supports (background-image: url("../img/map/map-desktop@2x.webp")) {
        background-image: url("../img/map/map-desktop@2x.webp");
      }
    }
  }

  .map__svg {
    display: none;
  }

  .map__svg--desktop {
    display: block;
    top: -59px;
  }
}
