.page-header {
  background-color: $basic_black;
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: cover;

  background-image: url("../img/decoration/background@1x.jpg");

  @supports (background-image: url("../img/decoration/background@1x.webp")) {
    background-image: url("../img/decoration/background@1x.webp");
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/decoration/background@2x.jpg");

    @supports (background-image: url("../img/decoration/background@2x.webp")) {
      background-image: url("../img/decoration/background@2x.webp");
    }
  }

  margin-bottom: 73px;
}

.page-header__wrapper {
  width: 1600px;
  margin: 0 auto;
  padding: 0;
}

.page-header__container {
  background-image: url("../img/decoration/circle.svg");
  background-repeat: no-repeat;
  background-position: 605px -325px;
}
