.page-footer {
  background-color: $basic_black;

  padding-top: 84px;
  padding-bottom: 72px;
}

.page-footer__wrapper {
  width: 1260px;
  margin: 0 auto;
  padding: 0 10px;

  display: grid;
  grid-template-columns: 1fr 500px;
}

.page-footer__menu {
  line-height: 26px;
  padding-left: 30px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.page-footer__applications {
  padding-left: 186px;
}

.page-footer__get-app-text {
  font-size: 18px;
  font-family: $additional_font_family;
  font-weight: $medium;
  color: $undertext_grey;
  margin-top: 37px;
  margin-bottom: 9px;
}

.page-footer__downloads-list {
  list-style: none;
}

.page-footer__downloads-item {
  padding-right: 13px;
}
