.page-footer {
  text-align: center;
  padding: 33px 0;
}

.page__footer-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.page-footer__social {
  margin-bottom: 32px;
}

@media (min-width: $tablet-width) {
  .page__footer-wrapper {
    justify-content: space-between;
    padding-top: 2px;
  }

  .page-footer {
    padding: 0;
  }

  .page-footer--inner {
    margin-top: 41px;
  }
}

@media (min-width: $desktop-width) {
  .page__footer-wrapper {
    padding-top: 39px;
  }

  .page-footer--inner {
    margin-top: 0;
  }
}
