.page-catalog__description {
  line-height: 30px;
  text-align: center;

  margin-top: 55px;
  margin-bottom: 55px;
}

.page-catalog__description--bottom {
  line-height: 30px;
  text-align: center;

  margin-top: 49px;
  margin-bottom: 52px;
}
