.preview {
  display: none;
  position: relative;
  padding-top: 54px;
  padding-bottom: 109px;
}

.preview__box {
  padding-left: 50%;
  padding-bottom: 22px;
  background-image: url("../img/decoration/timer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.preview__title {
  margin: 0;
  padding-top: 42px;
  font-size: 30px;
  line-height: 36px;
  font-weight: $bold;
  color: $basic_black;

  max-width: 168px;
}

.preview__excerpt {
  max-width: 296px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.preview__link {
  color: $accent_red;
}

@media (min-width: $tablet-width) {
  .preview {
    display: block;
    padding-bottom: 41px;
  }
}

@media (min-width: $desktop-width) {
  .preview {
    background-color: $light_grey;
    padding-top: 0;
    padding-right: 35px;
    padding-bottom: 0;
  }

  .preview__box {
    background-image: url("../img/decoration/timer-big.svg");
    background-position: 18px 19px;
    padding-bottom: 112px;
    padding-left: 41%;
    padding-top: 29px;
  }

  .preview__title {
    max-width: 300px;
    line-height: 30px;
    padding-top: 85px;
    padding-left: 2px;
  }

  .preview__excerpt {
    max-width: 540px;
    font-size: 18px;
    line-height: 30px;
    padding-top: 15px;
    margin-bottom: 31px;
  }

  .preview__link {
    font-size: 18px;
    line-height: 30px;
    padding-top: 16px;
    padding-left: 1px;
  }
}
