.reviews {
  background-color: $basic_grey;

  padding-bottom: 74px;
}

.reviews__wrapper {
  width: 1260px;
  margin: 0 auto;
  padding: 0 10px;
}

.reviews__content {
  width: 350px;
  background-color: $basic_white;

  padding: 20px 40px;

  margin-bottom: 16px;
}

.reviews__tagline {
  line-height: 56px;
  padding-top: 54px;
}

.reviews__tagline,
.reviews__lead,
.reviews__text {
  text-align: center;
}

.reviews__lead {
  font-size: 18px;
  line-height: 32px;
  color: $subtitle_grey;
}

.reviews__header,
.reviews__text {
  color: $subtitle_grey;
}

.reviews__header {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: $semibold;
  font-size: 22px;
  line-height: 32px;
}

.reviews__list {
  list-style: none;
}

.reviews__item {
  text-align: center;
}

.reviews__text {
  font-size: 14px;
  line-height: 24px;
}

.reviews__author,
.reviews__status {
  display: block;
}

.reviews__author {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: $bold;
}

.reviews__status {
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
}

.reviews__toggles {
  text-align: center;
  margin: 0;
}
