.reviews__list {
  padding-top: 41px;
}

.reviews__item {
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.reviews__author-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: $bold;
  color: $basic_black;
  font-style: normal;
  display: block;
}

.reviews__author-description {
  display: none;
}

.reviews__toggles {
  text-align: center;
  margin-top: 2px;
}

.reviews__toggles--desktop-only {
  display: none;
}

.reviews__toggle {
  font-size: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.reviews__toggle--prev,
.reviews__toggle--next {
  position: absolute;
  top: -155px;
}

.reviews__svg {
  fill: $dark_grey;
  opacity: 0.3;
}

.reviews__toggle--prev:hover .reviews__svg,
.reviews__toggle--next:hover .reviews__svg {
  opacity: 0.6;
}

.reviews__toggle--prev:active .reviews__svg,
.reviews__toggle--next:active .reviews__svg {
  opacity: 0.1;
}

.reviews__toggle--prev {
  left: 0;
}

.reviews__toggle--next {
  left: 100%;
}

@media (min-width: $tablet-width) {
  .reviews__author-name {
    font-size: 20px;
    margin-top: 18px;
  }

  .reviews__toggles {
    margin-top: 21px;
  }

  .reviews__author-description {
    display: block;
    font-style: normal;
    line-height: 30px;
  }

  .reviews__quote {
    order: -1;
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .reviews__list {
    padding-top: 0;
  }

  .reviews__author-name {
    font-size: 24px;
    padding-left: 0;
  }

  .reviews__author-description {
    font-size: 18px;
    padding-left: 0;
    padding-top: 2px;
  }

  .reviews__toggle {
    top: -181px;
  }

  .reviews__toggle--prev {
    left: -7px;
  }

  .reviews__toggle--next {
    left: 912px;
  }

  .reviews__toggles--mobile {
    display: none;
  }

  .reviews__toggles--desktop-only {
    display: block;
    position: relative;
  }

  .reviews__quote {
    padding-left: 110px;
    padding-right: 110px;
    position: relative;
    padding-top: 165px;
  }

  .reviews__quote::before {
    content: "";
    width: 79px;
    height: 63px;
    background-image: url("../img/decoration/quotes.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    top: 52px;
    left: 430px;
  }
}
