.site-list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
}


.site-list__link {
  color: $basic_white;
}

.site-list__item:first-child {
  padding-left: 0;
}

.site-list__item:last-child {
  padding-right: 0;
}

.site-list--header {
  padding-left: 360px;
  justify-content: flex-start;
}

.site-list__item--header {
  padding-bottom: 35px;
  margin-right: 40px;
}

.site-list__item--header:last-child {
  margin-right: 0;
}

.site-list__item--footer {
  margin-right: 25px;
}
