.slider__toggles {
  text-align: center;
  margin: 25px;
}

.slider__toggle {
  position: relative;
  font-size: 0;
  line-height: 0;
  background-color: transparent;
  border: none;
  margin-right: 20px;
  padding: 0;
}

.slider__toggle::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  background-color: $dark_grey;
  opacity: 0.3;
  border-radius: 50%;
  cursor: pointer;
}

.slider__toggle:hover::after {
  opacity: 0.6;
}

.slider__toggle:active::after {
  opacity: 0.1;
}

.slider__toggle--current::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  background-color: $basic_white;
  border-radius: 50%;
  opacity: 1;
  border: 3px solid $dark_grey;
  cursor: pointer;
  top: -3px;
  left: -5px;
}

.slider__toggle--current:hover::after,
.slider__toggle--current:active::after {
  opacity: 1;
}

.slider__toggle:first-child {
  margin-left: 16px;
}
