.user-form {
  background-color: $light_grey;
  padding-top: 20px;
  padding-bottom: 29px;
  width: 100%;
  margin-bottom: 7px;
}

.user-form__wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 280px;
}

.user-form__fieldset {
  border: none;
  margin-top: 27px;
  margin-left: 6px;
  padding: 0;
  text-align: center;
}

.user-form__image {
  display: block;
  object-fit: cover;
}

.user-form__list {
  position: relative;
}

.user-form__list-item {
  display: inline-block;
  width: 48px;
  height: 44px;
  margin: 0 15px;
  cursor: pointer;
  z-index: 100;
}

.user-form__list-item--current + .range {
  display: block;
}

.user-form__svg {
  fill: $dark_grey;
  opacity: 0.3;
  cursor: pointer;

  &:hover {
    fill: $dark_grey;
    opacity: 0.5;
  }

  &:active {
    fill: $accent_red;
    opacity: 1;
  }
}

.user-form__list-item--current .user-form__svg {
  fill: $accent_red;
  opacity: 1;
}

.user-form__button-block {
  margin-top: 65px;
  padding-top: 38px;
}

@media (min-width: $tablet-width) {
  .user-form {
    padding-top: 57px;
    margin-bottom: 8px;
    padding-bottom: 30px;
  }

  .user-form__wrapper {
    width: 620px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  .user-form__fieldset {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
  }

  .user-form__image {
    width: 300px;
    height: 400px;
    margin-right: 25px;
  }

  .user-form__list-item {
    position: absolute;
    left: 0;
    margin-left: 0;
    width: 24px;
    height: 24px;
  }

  .user-form__svg--cut,
  .user-form__svg--fill {
    width: 24px;
    height: 24px;
    transform: translate(-14px, -8px);
  }

  .user-form__svg--contrast {
    width: 16px;
    height: 16px;
    transform: translate(-10px, -8px);
  }

  .user-form__button-block {
    margin-top: 0;
    padding-top: 0;
    margin-left: 12px;
  }
}

@media (min-width: $desktop-width) {
  .user-form {
    margin-bottom: 32px;
    padding-bottom: 35px;
  }

  .user-form__wrapper {
    width: 940px;
    justify-content: space-around;
    margin: 0 auto;
  }

  .user-form__image {
    margin-right: 104px;
    margin-left: 80px;
  }

  .user-form__fieldset {
    margin-left: 25px;
  }

  .user-form__button-block {
    display: flex;
    margin-top: 80px;
    margin-right: 57px;
    margin-left: 0;
  }

  .user-form__svg--cut,
  .user-form__svg--fill {
    transform: translate(-39px, -17px);
  }

  .user-form__svg--cut {
    width: 44px;
    height: 44px;
  }

  .user-form__svg--fill {
    width: 48px;
    height: 43px;
  }

  .user-form__svg--contrast {
    width: 32px;
    height: 32px;
    transform: translate(-31px, -14px);
  }
}
