// Colors

$basic_black: rgba(0, 0, 0, 1);
$opacity_black: rgba(0, 0, 0, 0.7);

$basic_white: rgba(255, 255, 255, 1);

$basic_grey: rgba(244, 245, 247, 1);
$text-grey: rgba(102, 102, 102, 1);
$arrow_grey: rgba(147, 147, 147, 1);
$subtitle_grey: rgba(24, 25, 31, 1);
$cite_grey: rgba(71, 74, 87, 1);
$undertext_grey: rgba(217, 219, 225, 1);

$basic_orange: rgba(254, 114, 76, 1);

// Fonts

$basic_font-size: 16px;
$basic_line-height: 28px;

$tagline_font-size: 40px;
$tagline_line-height-index: 22px;

// font-weight

$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

// font-family

$basic_font_family: "Roboto", "Arial", sans-serif;
$tagline_font_family: "Montserrat", "Arial", sans-serif;
